<div class="container">
  <div class="row" style="padding-top: 30px">
    <div class="col-md-4">
      <form [formGroup]="form" (ngSubmit)="salvar()">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12 form-group">
                <label>Titulo da tarefa*</label>
                <input type="text" class="form-control" formControlName="titulo" [(ngModel)]="tarefa.titulo">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 form-group">
                <label>Descricao</label>
                <textarea type="text" class="form-control" rows="2" [(ngModel)]="tarefa.descricao"
                          [ngModelOptions]="{standalone: true}"></textarea>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <button class="btn btn-primary" type="submit">Salvar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8">
      <label>Listagem de tarefas</label>
      <div class="card" *ngIf="buscando">
        <div class="card-block">
          <div class="row">
            <div class="col-md-12 text-center">
              Buscando tarefas...
            </div>
          </div>
        </div>
      </div>
      <div class="card" *ngIf="tarefas.length === 0 && !buscando">
        <div class="card-block">
          <div class="row">
            <div class="col-md-12 text-center">
              Nenhuma tarefa cadastrada
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="tarefas.length !== 0 && !buscando">
        <div class="card" *ngFor="let tarefa of tarefas">
          <div class="card-block">
            <div class="row">
              <div class="col-md-9">
                {{tarefa.titulo}}
                <p>{{tarefa.descricao}}</p>
              </div>
              <div class="col-md-2">
                <i class="fa fa-pencil clickable pr-5" aria-hidden="true" (click)="editarTarefa(tarefa)"></i>
                <i class="fa fa-times clickable" aria-hidden="true" (click)="excluirTarefa(tarefa.id)"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="checkbox" [(ngModel)]="tarefa.concluida"> Concluido
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>